<div class="u-row">
  <div class="u-col-12">
    <div class="u-card">
      <div class="u-card-content">
        <div class="u-headline6">Headline 6</div>
        <div class="subtitle1 text-low-contrast">Subtitle 1</div>
      </div>
      <div class="u-card-media">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.18726888925!2d-43.406814785035635!3d-22.832560085049685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9963df176354b7%3A0x273be4c6fd58a79c!2sPra%C3%A7a+Granito+-+Parque+Anchieta%2C+Rio+de+Janeiro+-+RJ%2C+21625-190!5e0!3m2!1sen!2sbr!4v1561869056847!5m2!1sen!2sbr"
          frameborder="0" style="border:0;width: 100%;height:100%" allowfullscreen></iframe>
      </div>
      <!-- <div class="u-card-content">
      </div> -->
    </div>
  </div>
</div>
<div style="overflow-y: scroll;max-height: 57%;overflow-x: hidden">
  <div *ngFor="let item of itens" class="u-row">
    <div class="u-col-12">
      <div class="u-card">
        <div class="u-card-content">
          <button class="u-btn-floating u-btn-default">
            <i class="u-btn-icon mdi mdi-plus"></i>
          </button>
          {{item.Titulo}}
        </div>
      </div>
    </div>
  </div>
</div>