<app-menu></app-menu>
<div class="u-row">
    <div class="u-col-12 u-col-lg">
        <div class="u-card">
            <div class="u-card-content">
                <div class="u-row">
                    <div class="u-col-12 u-col-lg">
                        <div class="u-headline6">Localização Atual</div>
                        <div class="subtitle1 text-low-contrast">Rua das Dores, 666 - Rio de Janeiro</div>
                    </div>
                </div>
                <div class="u-row">
                    <div class="u-col-12 u-col-lg" style="padding-left: 83%;">
                        <button class="u-btn-floating u-btn-default">
                            <i class="u-btn-icon mdi mdi-share-variant"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: fixed;left:0;bottom: 0;width:100% ">
    <div class="u-row">
        <div class="u-col-6">
            <div class="u-headline6">Motorista</div>
            <div class="subtitle1 text-low-contrast">André Souza</div>
        </div>
        <div class="u-col-6">
            <div class="u-headline6">outros</div>
            <div class="subtitle1 text-low-contrast">+3</div>
        </div>
    </div>


    <div class="u-row">
        <div class="u-col-6">
            <div class="u-card">
                <div class="u-card-content">
                    <div class="u-headline6">Estimativa de chegada ao destino</div>
                    <div class="subtitle1 text-low-contrast">13:23</div>
                </div>
            </div>
        </div>
        <div class="u-col-6 ">
            <div class="u-card">
                <div class="u-card-content">
                    <div class="u-headline6">Tempo até a próxima parada</div>
                    <div class="subtitle1 text-low-contrast">1:24</div>
                </div>
            </div>
        </div>
    </div>

    <div class="u-row">

        <div class="u-col-12 ">
            <div class="u-card">
                <div class="u-card-content">
                    <div class="u-headline6">Preço individual estimado</div>
                    <div class="subtitle1 text-low-contrast">R$ 12,30</div>
                </div>
            </div>
        </div>
    </div>
</div>