<div class="u-row">
    <div class="u-col-12 u-col-lg">
        <div class="u-card">
            <div class="u-card-content">
                <div class="u-row">
                    <div class="u-col-12 u-col-lg">
                        <div class="u-headline6">Localização Atual</div>
                        <div class="subtitle1 text-low-contrast">Rua das Dores, 666 - Rio de Janeiro</div>
                    </div>
                </div>
                <div class="u-row">
                    <div class="u-col-12 u-col-lg" style="padding-left: 83%;">
                        <button class="u-btn-floating u-btn-default">
                            <i class="u-btn-icon mdi mdi-share-variant"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="u-row" style="position: fixed;left:0;bottom: 0;">
    <div class="u-col-12 u-col-lg">
        <div class="u-card">
            <div class="u-card-content">
                <div class="u-row">
                    <div class="u-col-12 u-col-lg">
                        <div class="u-headline6">Localização Atual</div>
                        <div class="subtitle1 text-low-contrast">Rua das Dores, 666 - Rio de Janeiro</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>