<app-menu></app-menu>
<div id="body">
    <div class="loginbox">
        <img src="../../assets/logo.png" class="logo">
        <h1>Login</h1>
        <h6 class="subtitle">Bem-vindo à carona segura</h6>
        <form>
            <p>Usuário</p>
            <input type="text" name="" placeholder="Entre com o usuário">
            <p>Senha</p>
            <input type="password" name="" placeholder="Entre com a senha">
            <input type="submit" name="" value="Entrar"><br>
            <a href="#">Esqueceu a senha?</a><br>
            <a href="#">Criar conta</a>
        </form>
    </div>
</div>