<app-menu></app-menu>
<div id="body">
    <div class="loginbox">
        <img src="../../assets/logo.png" class="logo">
        <h1>Login</h1>
        <h6 class="subtitle">Bem-vindo à carona segura</h6>
        <form>
            <p>Usuário</p>
            <input type="text" name="" placeholder="Entre com o usuário">
            <p>Senha</p>
            <input type="password" name="" placeholder="Entre com a senha">
            <button class="u-btn-raised u-btn-default" routerLinkActive="active" routerLink="/mapa"> Entrar </button>
        </form>
    </div>
</div>