<app-menu></app-menu>
<div id="body">
    <div class="u-card">
        <div class="u-card-content">
            <h6 class="u-headline6">Barra da Tijuca </h6>
        </div>
    </div>

    <div class="u-card">
        <div class="u-card-content">
            <h6 class="u-headline6">Barra da Tijuca </h6>
            <div class="u-col-6">Parada</div>
            <div class="u-col-6">Vagas Ocupadas</div>
        </div>
        <div class="u-card-actions">
            <button type="button" class="u-card-action u-btn-flat u-btn-primary">Pedir Vaga</button>
            <button type="button" class="u-card-action u-btn-flat u-btn-primary">Saiba Mais</button>
        </div>
    </div>

    <div class="u-card">
        <div class="u-card-content">
            <h6 class="u-headline6">Barra da Tijuca </h6>
            <div class="u-col-6">Parada</div>
            <div class="u-col-6">Vagas Ocupadas</div>
        </div>
        <div class="u-card-actions">
            <button type="button" class="u-card-action u-btn-flat u-btn-primary">Pedir Vaga</button>
            <button type="button" class="u-card-action u-btn-flat u-btn-primary">Saiba Mais</button>
        </div>
    </div>

    <div class="u-card">
        <div class="u-card-content">
            <h6 class="u-headline6">Barra da Tijuca </h6>
            <div class="u-col-6">Parada</div>
            <div class="u-col-6">Vagas Ocupadas</div>
        </div>
        <div class="u-card-actions">
            <button type="button" class="u-card-action u-btn-flat u-btn-primary">Pedir Vaga</button>
            <button type="button" class="u-card-action u-btn-flat u-btn-primary">Saiba Mais</button>
        </div>
    </div>

</div>